@import './variables';



.pagination {
    display: grid;
    font-weight: bold;
    font-size: 1.2rem;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, min-content);
    padding: calc($sizeIndex);

    @media (max-width:$sm) {
        font-size: calc($sizeIndex*1.2);
    }

    &_pages {
        display: flex;
        gap: 25px;

        .page {
            cursor: pointer;
            position: relative;
            padding: 4px;

            @media (max-width:$sm) {
                padding: 4px;

            }
        }

        .currentPage::after {
            content: "";
            width: 100%;
            height: 3px;
            border-bottom: #65B79A 3px solid;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    button {
        font-size: 1.2rem;
        background-color: inherit;
        border: none;
        font-weight: bold;

        @media (max-width:$sm) {
            font-size: calc($sizeIndex*1.1);
        }
    }
}